# Database Configuration
DB_NAME=boutique_db
DB_USER=postgres
DB_PASSWORD=admin123
DB_HOST=localhost
DB_PORT=5432

# Django Secret Key
SECRET_KEY=django-insecure-u%2u-f^w*(d+e&im2w5dw!jd+7gk1sbipjs0re1$%g82kdge_^

# Debug Mode (False in production)
DEBUG=True

# Allowed Hosts (comma separated)
ALLOWED_HOSTS=localhost,127.0.0.1
